exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")
importFrom(tidytext,"unnest_tokens")
importFrom(tidytext,"get_sentiments")
importFrom(ggplot2,"aes")
importFrom(ggplot2,"position_nudge")
importFrom(ggplot2,"guide_legend")
importFrom(ggplot2,"element_text")
importFrom(ggplot2,"element_rect")
importFrom(ggplot2,"element_blank")
importFrom(ggplot2,"alpha")
